.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.header>div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px;
}

.header p {
  color: #4ea8de;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.textPurple {
  color: #8284fa !important;
}

.header span {
  background: #333333;
  color: #d9d9d9;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
}

.sortContainer {
  background: #181818;
  border: 1px solid #636363;
  border-radius: 5px;
  padding: 8px 0;
  margin: 8px 0;
}

.left {
  display: flex;
  justify-content: space-between;
}

.left>div:first-child {
  display: flex;
  width: 60%;
  justify-content: flex-start;
}

.left span {
  margin-left: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.leftSort>span svg {
  display: none;
}

.left span:hover {
  color: indianred;
}

.colordSort {
  display: flex;
  width: 40%;
  justify-content: flex-end;

}

.colordSort span:first-child {
  color: #ff6868;
}

.colordSort span:nth-child(2) {
  color: #ffb66d;
}

.colordSort span:nth-child(3) {
  color: #f8f7a6;
}

.colordSort span:nth-child(4) {
  color: #92ff6e;
}

.right {
  display: none;
}

.assignments {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.assignment {
  width: 100%;
  background: #262626;
  border: 1px solid #0d0d0d;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}



@media screen and (min-width:600px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sortContainer {
    margin: 8px 20px;
    /* padding: 10px 0px; */
  }


  .leftSort>span>span {
    margin-right: 0px;

  }

  .leftSort>span {
    margin-right: 60px;
    display: flex;
  }

  .leftSort>span svg {
    display: flex;
  }

  .assignments {
    margin-top: 50px;
  }

  .list {
    padding: 0 20px;
  }
}

@media screen and (min-width: 800px) {
  .left {
    width: 73%;
  }

  .sortContainer {
    display: flex;
    justify-content: space-between;
    margin: 8px 20px;
  }

  .right {
    display: flex;
    justify-content: space-around;
    width: 17%;
  }

  .assignments {
    margin-top: 80px;
  }
}