.header {
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: relative;
}

.header h1 {
  font-size: 1.4rem;
}

.newAssignmentForm {
  position: absolute;
  height: 40px;
  bottom: -25px;
  width: 95%;
  max-width: 600px;
  display: flex;
  gap: 8px;
  padding: 0 0.5rem;
}

.newAssignmentForm input {
  height: 100%;
  flex: 1;
  color: #fff;
  background: #262626;
  border: 1px solid #0d0d0d;
  border-radius: 8px;
  padding: 0 12px;
  font-size: 16px;
}

.newAssignmentForm input::placeholder {
  color: #808080;
}

.newAssignmentForm button {
  height: 80%;
  padding: 0 16px;
  background-color: slateblue;
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  font-size: 14px;
  margin-left: -73px;
  margin-top: 4px;
}

.newAssignmentForm button:disabled {
  visibility: hidden;
  cursor: default;
}

@media screen and (min-width: 576px) {
  .header {
    height: 120px;
    position: relative;
  }

  .header h1 {
    font-size: 1.8rem;
  }


}