span.textCompleted {
  color: #84b982;
  text-decoration: line-through;
  text-transform: capitalize;
  margin-left: 30px;
}

.checkContainer {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.checkContainer svg {
  color: #84b982;
  margin: 0 10px;
  margin-bottom: 10px;
}

.deleteButton {
  background: none;
  border: none;
  color: #ee9f9f;
  margin: 0 10px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 50%;
}


.left>span {
  margin-left: 20px;
  overflow: hidden;
  text-transform: capitalize;
}

.right {
  display: flex;
  justify-content: space-around;
}

.calendar svg {
  background: none;
}

@media screen and (min-width: 800px) {

  .deleteButton {
    background: none;
    border: none;
    color: #ee9f9f;
    margin: 0 20px;
  }

  .right svg {
    margin-right: 10px;
  }
  
}